.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  margin: 0;
  font-size: 70px;
  font-weight: bold;
}
.number {
  font-size: 100px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.button-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.2rem;
}
button {
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
}
.left,.right {
  letter-spacing: 2.5px;
  width: 130px;
  height: 35px;
  border-radius: 9px;
}
.middle {
  width: 100px;
  border-radius: 9px;
  letter-spacing: 2.5px;
}
button:hover {
  background-color: black;
  color: white;
  transition-duration: 0.7s;
}
